.from-me{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    //margin-bottom: 16px;
    .chat-box{
        padding: 8px 16px 8px 16px;
        color: #fff;
        background-color: $brand-primary;
        //border: 1px solid #0595db;
        display: inline-flex;
        font-size: 14px;
        margin: 0;
    }
}

.from-them{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 16px;
    .chat-box{
        padding: 8px 16px 8px 16px;
        color: #fff;
        background-color: $brand-success;
        display: inline-flex;
        font-size: 14px;
        margin: 0;
    }
}
.mx-listview.chat-body{
    max-height: 100%;
    height: 100%;
    width: 100%;
    padding-bottom: 72px;
    scroll-behavior: smooth;
    transition: box-shadow 0.1s cubic-bezier(0.3,0,0,1.3);
    ul.mx-listview-list{
        li.mx-listview-item{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-bottom: 8px;
            .mx-dataview{
                width: 100%;
            }
        }
    }
}

.chat-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    //box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.12) !important;
    padding: 30px;
}

.chat-section.flexitem{
    margin-right: 0;
    padding: 30px;
    position: relative;
    height: inherit;
    &:first-child{
        flex: 1 0 62%;
    }
    &:last-child{
        padding-top: 40px;
        padding-bottom: 40px;
        flex: 1 0 38%;
        background: #f8f8f8;
        
    }
}

.chat-section-top{
    position: absolute;
    top: 0;
    padding: 5px;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.chat-input{
    box-shadow: 0px -2px 17px 0px rgba(0, 0, 0, 0.11);
    border: 1px solid $form-input-static-border-color;
    border-radius: 6px;
    &:hover, &:focus, &:active{
        border-color: #0595db;
    }
    input.form-control{
        border: 0;
        font-size: 15px;
        padding: 16px;
    }
}

.send-btn{
    $send: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='28'><g fill='#888'><path d='M8.6 14L3.1 24.9 24.9 14 3.1 3.1 8.6 14zM.9.9L27.1 14 .9 27.1 7.4 14 .9.9z' class='icon-send'/><path class='icon-send' d='M8.2 14.5h16.7v-1H8.2z'/></g></svg>";
    $send-hover: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='28'><g fill='#0595db'><path d='M8.6 14L3.1 24.9 24.9 14 3.1 3.1 8.6 14zM.9.9L27.1 14 .9 27.1 7.4 14 .9.9z' class='icon-send'/><path class='icon-send' d='M8.2 14.5h16.7v-1H8.2z'/></g></svg>";
    background-image: url($send);
    height: 28px;
    width: 28px;
    display: block;
    margin-right: 16px;
    &:hover{
        background-image: url($send-hover); 
    }
}

p.saving{
    
}
.saving svg {
  width: 42px;
  height: 24px;
  fill: white;
}

@mixin fadeHelper($delay) {
  opacity: 0.35;
  animation: fade 0.7s cubic-bezier(.39,.58,.57,1) $delay infinite alternate-reverse;
}

#loader-chat {
  circle {
    &:nth-of-type(1) {
      @include fadeHelper(0s);
    }
    
    &:nth-of-type(2) {
      @include fadeHelper(0.4s);
    }
    
    &:nth-of-type(3) {
      @include fadeHelper(0.8s);
    }
    
    &:nth-of-type(4) {
      animation: expandBigger 0.5s infinite alternate 0.4s;
    }
    
    &:nth-of-type(5) {
      animation: expandTiny 0.5s infinite alternate;
    }
  }
  
  path {
    animation: expandBiggest 1s linear infinite alternate;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.45;
  }
}

@mixin scaleCircle($factor, $cx, $cy) {  
  transform: translate((1 - $factor) * $cx + px, (1 - $factor) * $cy + px) scale($factor);
}

@keyframes expandTiny {
  from {
    transform: scale(1);
  }
  to {
    @include scaleCircle(1.1, -41, 74.8);
  }
}

@keyframes expandBigger {
  from {
    transform: scale(1);
  }
  to {
    @include scaleCircle(1.1, -25.2, 62.6);
  }
}

@keyframes expandBiggest {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(-0.525px, -0.9487500190734863px) scale(1.025);
  }
}

.t-main{
    .webmodeler-hidden{
        display: none;
    }
  .from-them{
      position: relative;
      &.chat-rounded{
          .chat-box:before{
              border-radius: 16px 16px 0 0;
          }
      }
      .chat-box{
          min-width: 215px;
          min-height: 60px;
          padding-top: 30px;
          position: relative;
          &:before{
              content: "User triggers";
              display: block;
              width: 100%;
              font-size: 12px;
              background: darken($brand-success, 10%);
              top: 0;
              left: 0;
              position: absolute;
              padding: 3px 16px;
          }
      }
  }
  .from-me{
      position: relative;
      &.chat-rounded{
          .chat-box:before{
              border-radius: 16px 16px 0 0;
          }
      }
      .chat-box{
          min-width: 215px;
          min-height: 60px;
          padding-top: 30px;
          position: relative;
          &:before{
              content: "User input";
              display: block;
              width: 100%;
              font-size: 12px;
              background: darken($brand-primary, 10%);
              top: 0;
              left: 0;
              position: absolute;
              padding: 3px 16px;
          }
      }
  }
}

.t-main .them-btn.btn-rounded, .t-main .me-btn.btn-rounded{
  .chat-box{
      .btn:first-of-type{
          border-radius: 0;
      }
  }
}

.them-btn.btn-rounded, .me-btn.btn-rounded{
  .chat-box{
      .btn:first-of-type{
          border-radius: 16px 16px 0 0;
      }
      .btn:last-of-type{
          border-radius: 16px 16px 0 0;
      }
  }
}
.them-btn, .me-btn{
  .chat-box{
      .btn{
        display: block;
        width: 100%;
        margin: 0;
        border-radius: 0;
      }
  }
}

.me-img, .them-img{
  &.chat-rounded{
      img{
          border-radius: 16px; 
      }
  }
  .chat-box{
      max-height: 240px;
      max-width: 320px;
      padding: 0 !important;
      img{
          object-fit: cover;
      }
  }
}

.from-me.me-video, .from-them.them-video{
  .chat-box{
      max-height: 142px;
      max-width: 280px;
      min-width: 220px !important;
      padding: 0 !important;
  }
}
.me-location, .them-location{
  .chat-box{
      min-height: 200px;
      min-width: 215px;
      padding: 0;
      .widget-google-maps-wrapper, .widget-google-maps{
      }
  }
}
.from-them, .from-me{ 
  .chat-box{
      padding: 8px 16px 8px 16px;
      color: #fff;
      background-color: $brand-success;
      display: inline-flex;
      font-size: 14px;
      margin: 0;
      overflow: hidden;
  }
  &.chat-rounded{
      .chat-box{
          border-radius: 16px;
      }
  }
}

.from-them.them-btn, .from-me.me-btn{
  .chat-box{
      padding: 0;
      padding-top: 22px;
      flex-direction: column;
  }
}
.from-me{
  margin-bottom: 5px;
   &.chat-default{
      .chat-box{
          background-color: $brand-default;
          color: #222;
          &:before{
              background: darken($brand-default, 10%);
              color: #222;
          }
      }
  }
  &.chat-primary{
      .chat-box{
          background-color: $brand-primary;
          &:before{
              background: darken($brand-primary, 10%);
          }
      }
  }
  &.chat-inverse{
     .chat-box{
          background-color: $brand-inverse;
          &:before{
              background: darken($brand-inverse, 10%);
          }
      }
  }
  &.chat-success{
      .chat-box{
          background-color: $brand-success;
          &:before{
              background: darken($brand-success, 10%);
          }
      }
  }
  &.chat-warning{
      .chat-box{
          background-color: $brand-warning;
          &:before{
              background: darken($brand-warning, 10%);
          }
      }
  }
  &.chat-success{
      .chat-box{
          background-color: $brand-success;
          &:before{
              background: darken($brand-success, 10%);
          }
      }
  }
   &.chat-danger{
          .chat-box{
              background-color: $brand-danger;
              &:before{
                  background: darken($brand-danger, 10%);
              }
          }
      }
}
.from-them{
  margin-bottom: 5px;
   &.chat-default{
      .chat-box{
          background-color: $brand-default;
          color: #222;
          &:before{
              background: darken($brand-default, 10%);
              color: #222;
          }
      }
  }
  &.chat-primary{
      .chat-box{
          background-color: $brand-primary;
          &:before{
              background: darken($brand-primary, 10%);
          }
      }
  }
  &.chat-inverse{
      .chat-box{
          background-color: $brand-inverse;
          &:before{
              background: darken($brand-inverse, 10%);
          }
      }
  }
  &.chat-success{
      .chat-box{
          background-color: $brand-success;
          &:before{
              background: darken($brand-success, 10%);
          }
      }
  }
  &.chat-warning{
      .chat-box{
          background-color: $brand-warning;
          &:before{
              background: darken($brand-warning, 10%);
          }
      }
  }
  &.chat-success{
      .chat-box{
          background-color: $brand-success;
          &:before{
              background: darken($brand-success, 10%);
          }
      }
  }
   &.chat-danger{
          .chat-box{
              background-color: $brand-danger;
              &:before{
                  background: darken($brand-danger, 10%);
              }
          }
      }
}