.loginform{
    padding: 0 15px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    .form-group{
        margin-bottom: 10px;
        text-align: left;
        .control-label{
            color: $font-alt-color;
            font-size: $font-size-h4;
            margin-bottom: 10px;
        }
    }
    .btn{
        margin-top: 15px;
        min-width: 180px;
    }
}

.login-logo{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    > img{
        height: 100px;
    }
    > span{
        font-size: $landing-size-large;
        margin-left: 10px;
        @media (max-width: $screen-xs){
            font-size: $landing-size-small;
        }
    }
}

.login-welcome{
    font-size: $font-size-h4;
}