.btn-lg{
    font-size: $font-size-h4;
    min-width: 140px;
}

.btn-rounded{
    border-radius: 50px;
}

.mx-dateinput-select-button{
    border: 0;
    background: transparent;
    font-size: $font-size-h3;
    padding: 5px 10px 10px;
    position: absolute;
    right: 0;
    color: $brand-primary;
    &:hover, &:focus{
        background: transparent;
        color: darken($brand-primary, 10%);
    }
}

.btn-previous{
    border: 1px solid $btn-default-border-color;
    background: $bg-color-secondary;
    &:hover, &:focus{
        border: 1px solid $btn-default-border-color;
        background: darken($bg-color-secondary, 2%);
    }
}

.btn.btn-inverse{
    &:hover, &:focus, &:active{
        color: $gray-darker;
    }
}

.btn.btn-white{
    color: $font-alt-color;
    border-color: $bg-color-secondary;
    min-width: 100px;
    &:hover{
        background: $bg-color-secondary;
        color: $sidebar-bg;
    }
}
.btn + .btn{
    margin-left: 5px;
}
.btn-edit{
    min-width: 100px;
}

.toggle-btn{
    color: $font-alt-color;
    a, &:before, &:after{
        content: "";
        background-color: $bg-color-secondary;
        height: 2px;
        width: 32px;
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    &:before{
        margin-top: 0px;
    }
    &:after{
        margin-bottom: 0px;
    }
}

.btn-transparent{
    background: transparent !important;
    border: 0 !important;
    padding: 0;
    outline: none !important;
}

.btn-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}