.pageheader {
    border-bottom: 0;
    //margin-bottom: 30px;
    background-color: transparent;
}

.pageheader-subtitle{
    font-weight: $font-weight-normal;
    font-family: $font-family-header;
    color: $gray;
    font-size: $font-size-h4;
}

.pageheader-user{
    @media (max-width: $screen-xs){
        .flexcontainer{
            flex-direction: column;
            text-align: center;
            > .flexitem{
                margin-right: 0;
                &.flexitem-main{
                    order: 2;
                }
            }
        }
        img{
            margin: 15px 0;
        }
    }
}